@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Kayıt doğrulama";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
     <a id="confirm-link" href="@Model.EmailConfirmationUrl">Bot olmadığınızı doğrulamak için tıklayın</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

