@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifren sıfırlandı. Lütfen <a asp-page="./Login">tıklayın ki giriş yapın</a>.
</p>
