@model List<Bolum>
@{
    ViewBag.Title = "Cildiye";
}
<body>
    <div class="container">
        <div class="section">
            <h2>Cildiye (Dermatoloji)</h2>
            <img src="~/Resim/cildiye1.jpg" alt="Cildiye">
            <p style="margin-top:50px" ;>
                Cilt hastalıklarını inceleyen bilim dalı olan Dermatoloji Bölümümüzde deri hastalıkları,
                zührevi hastalıklar, saç hastalıkları,tırnak hastalıklarının tedavileri ile birlikte 
                Güzellik Merkezimizde kozmetik uygulamalarda yapılmaktadır. 
                Günümüzde alerjik deri hastalıkları, modern yaşam biçimleri, değişen çevresel koşulları nedeniyle 
                gittikçe artmaktadır. Ekzama, ürtiker, sedef, vitiligo gibi deri hastalıklarının nedenlerini bulmak;
                iç kaynak ve dış kaynaklı olup olmadığını anlamak ilk basamak tedavinin yanı sıra hastalıkların 
                kronikleşmesini ve tekrarlanmasını önlemek açısından çok önemlidir.
            </p>
        </div>
        <div>
            <h5>Cildiye Hizmetleri;</h5>
            <ul>
                <li>Deri hastalıklarının tanı ve tedavisi</li>
                <li>Saç dökülmesinin tanı ve tedavisi </li>
                <li>Sivilce, akne tedavisi</li>
                <li>Mantar hastalıklarının tanı ve tedavisi</li>
                <li>Deri lezyonlarının tanısında dermatoskopik muayene</li>
            </ul>
        </div>
    </div>
    <div class="doctors-section">
        <h2>DOKTORLARIMIZ</h2>
        <a href="https://www.youtube.com/watch?v=TzKgojZqO5Y&ab_channel=EurovisionSongContest" target="_blank">
            <img src="~/Resim/hadise1.jpg" alt="Cildiye Uzmanı Dr. Hadise" class="doctor-img">
        </a>
        <p>Cildiye Uzmanı Dr. Hadise</p>
    </div>
</body>
