@model List<Bolum>
@{
    ViewBag.Title = "Göz";
}
<body>
    <div class="container">
        <div class="section">
            <h2>Göz Polikliniği</h2>
            <img src="~/Resim/goz.jpg" alt="Göz">
            <p style="margin-top:50px";>
                Gözlerimiz en kıymetli duyu organımızdır. Bir fotoğraf makinesi gibi çalışarak çevreden aldığı izlenimleri beyne iletir. 
                Cisimleri üç boyutlu ve renkli görmemizi sağlayarak dış dünyayı algılamamızı sağlar. 
                İnsan vücudunun en hassas organı olan gözün sağlığına gereken özenin gösterilmesi gerekir. 
                Bir çok göz hastalığının tedavisinde geç kalınmamalıdır.
            </p>
         </div>
         <div>     
                <h5>Poliklinik Hizmetleri;</h5>
                <ul>
                    <li>Görme kusuru muayenesi ve gözlük muayenesi</li>
                    <li>Kontak lens muayenesi</li>
                    <li>Çocuklarda görme ,göz tembelliği ve tedavisi</li>
                    <li>Göz tansiyonu muayenesi</li>
                    <li>Şaşılık muayenesi ve tedavisi</li>
                </ul>
        </div>
    </div>
        <div class="doctors-section">
            <h2>DOKTORLARIMIZ</h2>
        <a href="https://www.youtube.com/watch?v=AlnHNi0hdO0&ab_channel=K%C4%B1voYouTube" target="_blank">
            <img src="~/Resim/doktormessi.jpg" alt="Prof. Doktor Lionel Messi" class="doctor-img">       
        </a>
        <p>Prof. Dr Lionel Messi</p>
        </div>
</body>
