@model List<Bolum>
    @{ViewBag.Title = "Nöroloji";}

<body>
    <div class="container">
        <div class="section">
            <h2>Nöroloji</h2>
            <img src="~/Resim/noroloji.jpg" alt="Nöroloji">
            <p style="margin-top:50px" ;>
                Nöroloji, genel olarak beyin, beyin sapı, omurilik, çevresel sinir sistemi ve 
                kasların hastalıklarını inceleyen ve bu hastalıkların teşhis - tedavi uygulamalarını 
                içeren tıp bilimi dalıdır.

                Nöroloji polikliniklerine başvuru şikayetleri başlıca; baş ağrıları, 
                baş dönmeleri, inmeler, şuur değişikliği ile giden hastalıklar (sara vb.) hareket 
                bozukluklarıyla seyreden hastalıklar (Parkinson vb.) bunama, el ayak uyuşmaları, 
                uyku bozuklukları ve çeşitli kas güçsüzlükleri gibi durumlardır.

                İnme, dünyada kalp hastalığı ve kanserden sonra gelen en önemli ölüm nedenlerinden bir tanesidir. 
                İnme, sık tekrarlayan nöbetler ve koma gibi hasta yaşamını tehlikeye sokan hastalıkların takip 
                tedavisi, servis ve yoğun bakım ünitelerimiz de uygulanabilmektedir.
            </p>
        </div>
        <div>
            <h5>Poliklinik Hizmetleri;</h5>
            <ul>
                <li>Nörolojik hastalıkların tanı ve tedavisi</li>
                <li>EMG (Elektromiyografi) tetkiki</li>
                <li>EEG (Elektroensefalografi)</li>
                <li>Beyin loblarında oluşan hasarların düzeltilmesi</li>
                <li>Omurilik ile ilgili sorunların nörolojik sebebplerinin bulunup incelenmesi</li>
            </ul>
        </div>
    </div>
    <div class="doctors-section">
        <h2>DOKTORLARIMIZ</h2>
        <a href="https://www.instagram.com/yunusissl/" target="_blank">
            <img src="~/Resim/yunix.jpg" alt="Uzman Doktor Yunus İşler" class="doctor-img">
        </a>
        <p>Uzman Doktor Yunus İşler</p>
    </div>
</body>
