@{
    ViewData["Title"] = "Doktorlarımız";
}
<body>
    <div class="container">
        <div class="section">
            <h2>Hastanemiz</h2>
            <img src="~/Resim/Hastanemiz.jpg" style="width:400px;height:300px" alt="Hastane">
            <p style="margin-top:50px" ;>
                Hastanemiz,
                Sağlık Bakanlığı Sağlık Eğitimi Genel Müdürlüğü’nün 10.11.2006 tarih ve
                6625 sayılı yazısı ile İstanbul Lütfi Kırdar Eğitim ve Araştırma Hastanesine
                bağlı genel nitelikli eğitim ve araştırma hastanesi niteliğine sahip olarak
                Sakarya Eğitim ve Araştırma Hastanesi adını aldı. Ardından 05.06.2009 tarihinde
                imzalanan iş birliği protokolü ile Sakarya Üniversitesi Tıp Fakültesi
                için Uygulama ve Araştırma Hastanesi olarak da hizmet vermeye başlamıştır.
                05.08.2011 tarihinde Sağlık Bakanlığı ve Sakarya Üniversitesi Tıp Fakültesi arasında
                yapılan protokol ile T.C. Sağlık Bakanlığı Sakarya Üniversitesi Eğitim ve Araştırma Hastanesi
                adıyla hizmet vermeye başlamıştır. Sakarya Üniversitesi Eğitim ve Araştırma Hastanesi,
                120 adedi yoğun bakım ünitesinde olmak üzere toplamda 935 hasta yatak kapasitesine sahiptir.
            </p>
        </div>
        <div class="resim-container">
            <img src="~/Resim/Hastanemiz2.jpg" alt="Hastane2" class="resim">
            <img src="~/Resim/Hastanemiz3.jpg" alt="Hastane3" class="resim">
            <img src="~/Resim/Hastanemiz4.jpg" alt="Hastane4" class="resim">
        </div>
    </div>
</body>
